.DS_Store
node_modules/
dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
**/*.log

tests/**/coverage/
tests/e2e/reports
selenium-debug.log

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.local

package-lock.json
yarn.lock
desc.md
test.py

# * 收藏的网址
# ******
# * https://oi-wiki.org/ OI Wiki 致力于成为一个免费开放且持续更新的 编程竞赛知识整合站点
# * https://hydro.ac/   在线评测平台
# * https://www.luogu.com.cn/training/list?page=1  洛谷算法训练列表
# * https://www.programmercarl.com/  代码随想录
# * https://github.com/umami-software/umami  一个简单的、快速的、对用户友好的分析工具
# * https://uiverse.io/elements Open-Source UI elements made with CSS or Tailwind

# * https://huxulm.github.io/lc-rating/  力扣题单